@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-primary: #244d3f;
    --color-base-content: #64748b;
    --color-base-background: #f8fafc;
}

@layer base {
    body {
        @apply bg-base-background;
    }
}

@layer components {
    .cssContainer {
        @apply w-11/12 mx-auto max-w-360 py-16 md:py-20 flex items-center justify-center gap-8 md:gap-10;
    }

    .btn {
        display: flex;
        gap: 0.25rem;
        font-size: 1rem;
        font-weight: 600;
        color: var(--color-base-content);
        border-radius: 0.25rem;
        padding: 0.75rem 1rem;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            background-color: var(--color-gray-400);
            color: var(--color-white);
        }

        &:active {
            background-color: var(--color-primary);
            color: var(--color-white);
        }
    }
}

* {
    font-family: "Geist", sans-serif;
}
