@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-brand: #244d3f;
    --color-base-text: #64748b;
    --color-base-background: #f8fafc;
}

@layer base {
    body {
        @apply bg-base-background;
    }

    h1 {
        @apply text-4xl md:text-5xl font-bold;
    }
}

@layer components {
    .cssContainer {
        @apply w-11/12 mx-auto max-w-360 py-16 md:py-20 flex flex-col items-center justify-center gap-8 md:gap-10;
    }

    .button {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: 1rem;
        font-weight: 600;
        color: var(--color-base-text);
        border-radius: 0.25rem;
        padding: 0.75rem 1rem;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            background-color: var(--color-gray-400);
            color: var(--color-white);
        }

        &:active {
            background-color: var(--color-brand);
            color: var(--color-white);
        }
    }

    .siteNav a.active {
        background-color: var(--color-brand);
        color: var(--color-white);
    }
}

* {
    font-family: "Geist", sans-serif;
}
